/* All Javascript Class */
/* sticky navigation */
.nav__sticky {
  background-color: #ffffffb8;
  position: fixed;
  backdrop-filter: blur(2px);
}

/* active nav */
.active__nav::after {
  content: "";
  width: 100% !important;
  display: block;
  height: 2px;
  margin-top: 3px;
  background-color: #1a2c79;
}

/* hamburger  menu */
.hamburger {
  left: 0;
  opacity: 1;
}

/* section hidden */
.section__hidden {
  transform: translateY(150px);
  opacity: 0;
}

/* slider dot active */
.slider__dot-active {
  background-color: #222222;
}

/* service card */
.best-service__card--effect {
  filter: blur(2px);
  opacity: 0;
}
.best-service__card--effect:nth-child(odd) {
  transform: translateX(-100px);
}
.best-service__card--effect:nth-child(even) {
  transform: translateX(100px);
}
